.container

  h1.title Trafic Lights
  .trafic-lights

    .trafic-lights__row
      .trafic-lights__left-light
      .trafic-lights__main-light
      .trafic-lights__right-light

    .trafic-lights__row
      .trafic-lights__left-light
      .trafic-lights__main-light
      .trafic-lights__right-light


    .trafic-lights__row
      .trafic-lights__left-light
      .trafic-lights__main-light
      .trafic-lights__right-light

  button#btn push to stop
