h1 Js Sandbox
p.desc Some absolutely random projects </br>made for fun and for practice
a.link(href="{{site.baseurl}}/pages/001_first.html" title="trafic lights") 01 trafic lights
a.link(href="{{site.baseurl}}/pages/002_second.html" title="second") 02 second project