h1 Js Sandbox
p.desc Some absolutely random projects </br>made for fun and for practice

h2 My projects

a.link(href="{{site.baseurl}}/pages/001_first.html" title="trafic lights") 001 Trafic Lights

h2 
  a(href="https://www.codewars.com/users/OziOcb" target="_blank") Codewars.com<br>Challenges

a.link(href="{{site.baseurl}}/pages/002_second.html" title="second") 002 Basic Mathematical Operations  
a.link(href="{{site.baseurl}}/pages/003.html" title="third") 003 Basic Mathematical Operations
a.link(href="{{site.baseurl}}/pages/004.html" title="four") 004